@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
html{
  scroll-behavior: smooth;
  scroll-snap-stop: always;

}

:root {
  --font-raleway: 'Raleway', sans-serif;
  --font-lato: 'Lato', sans-serif;  

}

section{
  padding: 14px 0px;
  margin: 25px 0px;
}


h1{
  line-height: 80px;
  font-size: 80px;
  font-weight: 800;
  color: #f9a082;

}



h2{
  color: whitesmoke;
  font-size: 32px;
  font-weight: 200;
}

h2 span{
  font-weight: 800;
  color: #f9a082;
  text-shadow: #DD2476 1px 2px 1px ;
}



h3{
  color: whitesmoke;
  font-size: 24px;
  font-weight: 200;
}

h3 span{
  color: #f9a082;
  font-weight: 800;
}

h1,h2,h3{
  font-family: var(--font-raleway);
}


p, label{

  font-size: 18px;
  color: whitesmoke;
  font-family: var(--font-lato);
}

p span{
  font-weight: bolder;
  color: #f9a082;
}

button{
 font-style: uppercase;
  font-weight: bolder;
}



.underline-div{
  border-radius: 2px;
  margin: 15px 0px;
  width: 10vw;
  height: 4px;
  background-image:  linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%);
}

.testimonial-underline-div{
  border-radius: 2px;
  margin: 15px 0px;
  width: 10vw;
  height: 4px;
 background-color: #0f172a;
}

/* buttons */

         
.btn-grad {
  background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%);
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.container{
  width: fit-content;
}

.btn {
  border:1px solid whitesmoke;/*
  background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%);*/
  padding: 15px 45px;
  border-radius: 10px;
  color: white; 
  white-space: nowrap; /* Prevent text from wrapping to multiple lines */

  cursor: pointer;
}

.gradient-follower {
  width: 100%;
  height: 100%;
  position: fixed;
  border-radius: 50%;
  background: linear-gradient(45deg, #ff5733, #fddb92);
  pointer-events: none; /* Allows mouse events to pass through */
  transform: translate(-50%, -50%);
  z-index: 999; /* Ensure it's on top of other content */
}


/* mouse cursor blob*/

#blob{

  height: 70vh;
  aspect-ratio: 1;
  position: fixed;
  left: 50%;
  top:50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, #0f172a, #050912);
  z-index: -50;
  animation: rotate 20s infinite;
}

#blob-container{
  z-index: -50;
  position: fixed;
  width: 100vw;
  height: 100vh;
}


.random-blob{
  position: fixed;
  width: 100px; /* Adjust blob size as needed */
  height: 100px; /* Adjust blob size as needed */
  background: linear-gradient(to right, #0f172a, #000);
  border-radius: 50%;
  z-index: -50;
  animation: moveBlob 10s infinite linear; /* Adjust animation duration */
  filter: blur(10px);
}

@keyframes moveBlob {
  0% {
    transform: translateY(0) translateX(0);
    filter: blur(10px);
  }
  50% {
    transform: translateY(-10vh) translateX(10vw); /* Adjust the floating motion */
    filter: blur(5px);
  }
  100% {
   
    transform: translateY(0) translateX(0);
    filter: blur(10px);
  }
}


@keyframes rotate {
  from{
    rotate: 0deg;
    filter: blur(50px);
  }

  50%{
    scale: 1 1.2;
    filter: blur(100px);
  }
  to{
    rotate: 360deg;
    filter: blur(50px);
  }
}


/* skilltag*/


.skillTags-container.animated {
  
  

  animation: scrollText 5s  ease-in  infinite; /* Adjust the animation duration */
}

@keyframes scrollText {
  0% {
    transform: translateX(0%);
  }


  100% {
    transform: translateX(-125%); /* Move the text to the left */
  }
}
