/* scrollbar.css */

/* Width and thickness of the scrollbar */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track (the empty space in the scrollbar) */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle (the draggable part of the scrollbar) */
  ::-webkit-scrollbar-thumb {
    background: #242E47;
    border-radius: 4px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #1E293B;
  }
  